@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&family=Poppins&display=swap");

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
<<<<<<< HEAD

  .hero-bg {
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
  }
}
=======
}
>>>>>>> 21cd8c748fcb7ad0fb349e2541f1e388a93eb697
